p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 300px;
}

.video-info {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 5px;
}

.video-creator {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 18px;
}

.video-description {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 18px;
  width: 280px;
}

.apple-text {
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  margin-top: 50px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 14px;
}

.shop-link {
  cursor: pointer;
}

.shop-link:hover {
  text-decoration: underline;
}