p{
  
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(96, 96, 96);
  font-size: 13px;
}

body{
  font-family: Roboto, Arial;
  padding-top: 84px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
}