.header{
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(195, 195, 195);
  z-index: 100;
}

.left-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu{
  height: 24px;
  width: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo{
  flex: 1;
  height: 20px;
}


.middle-section{
  display: flex;
  flex: 1;
  max-width: 500px;
  margin-left: 30px;
  margin-right: 20px;
  align-items: center;
}

.search-box{
  flex: 1;
  height: 33px;
  border-color: rgb(195, 195, 195);  
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05); 
  font-family: Roboto, Arial;
  font-size: 16px;
  width: 0;
}

.search-box::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
  padding-left: 8px;
}

.upload-icon-box,
.apps-icon-box,
.voice-icon-box, 
.search-icon-box,
.notifications-icon-box{
  display: flex;
  justify-content: center;
}

.upload-icon-box, 
.apps-icon-box,
.voice-search-button, 
.search-icon-button,
.notifications-icon-box{
  position: relative;
}

.search-icon-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 37px;
  margin-left: -2px;
  border-color: rgb(195, 195, 195);
  border-style: solid;
  border-width: 1px; 
}

.voice-search-button .tooltip,
.search-icon-button .tooltip,
.upload-icon-box .tooltip,
.apps-icon-box .tooltip,
.notifications-icon-box .tooltip{
  font-family: Roboto, Arial;
  font-size: 11px;
  position: absolute;
  background-color: rgba(66, 66, 66, 0.7);
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  bottom: -35px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  white-space: nowrap;
}


.voice-search-button:hover .tooltip,
.search-icon-button:hover .tooltip,
.upload-icon-box:hover .tooltip,
.apps-icon-box:hover .tooltip,
.notifications-icon-box:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 24px;
}

.voice-search-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(235, 235, 235);
  margin-left: 10px;
}

.voice-search-icon{
  height: 24px;
}

.right-section{
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
} 

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.notifications-icon-box{
  position: relative;
}

.notifications-count{
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: rgb(206, 6, 6);
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  font-size: 13px;
  font-family: Roboto,Arial;
}

.current-user-icon{
  height: 32px;
  border-radius: 16px;
}
