

@media(max-width:1100px){
  .sidebar{
    background-color: white;
    color: black;
    position: fixed;
    top: 64px;
    bottom: 0px;
    left: 0px;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
  }

  .sidebar-link{
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .sidebar-link:hover{
    background-color: rgb(241, 240, 240);
  }

  .sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
  }

  .sidebar-link-name{
    font-size: 10px;
  }
}

@media(min-width:1100.1px){

  .sidebar{
    background-color: white;
    color: black;
    position: fixed;
    top: 64px;
    bottom: 0px;
    left: 0px;
    width: 170px;
    z-index: 200;
    padding-top: 5px;
  }

  .sidebar-link{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .sidebar-link:hover{
    background-color: rgb(241, 240, 240);
  }

  .sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
  }

  .sidebar-link-name{
    font-size: 14px;
    margin-left: 8px;
  }
}

