.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 14px;
  row-gap: 38px;
}

.video-thumbail-container{
  position: relative;
}

.duration{
  font-family: Roboto, Arial;
  font-size: 13px;
  padding: 4px;
  background-color: black;
  color: white;
  font-weight: 500;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
  right: 7px;
  bottom: 9px;
}

.video-info{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-title {
  font-weight: 500;
  font-size: 14px;
  color: black;
  line-height: 20px;
  cursor: pointer;
}

.video-link{
  text-decoration: none;
}

.video-creator {
  margin-top: 10px;
  margin-bottom: 4px;
}

.video-description {
  width: 100%;
  vertical-align: top;
}

.thumbnail{
  width: 100%;
  object-fit: contain;
}

.channel-pic{
  width: 36px;
  border-radius: 50%;
}

.video-description{
  display: inline-block;
  width: 100%;
}