.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 14px;
  row-gap: 38px;
}

.video-info{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-title {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.video-creator {
  margin-top: 18px;
  margin-bottom: 4px;
}

.video-description {
  width: 250px;
  vertical-align: top;
}

.thumbnail{
  width: 100%;
  object-fit: contain;
}

.channel-pic{
  width: 80%;
  border-radius: 50%;
}

.video-description{
  display: inline-block;
  width: 200px;
}