.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 14px;
  row-gap: 38px;
}

.video-thumbail-container, .channel-pic-container{
  position: relative;
}

.duration{
  font-family: Roboto, Arial;
  font-size: 13px;
  padding: 4px;
  background-color: black;
  color: white;
  font-weight: 500;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
  right: 7px;
  bottom: 9px;
}

.video-info{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-title, .info-box-name{
  font-weight: 500;
  font-size: 14px;
  color: black;
  line-height: 20px;
  cursor: pointer;
}

.video-link{
  text-decoration: none;
}

.video-creator {
  margin-top: 10px;
  margin-bottom: 4px;
}

.video-description {
  width: 100%;
  vertical-align: top;
}

.thumbnail{
  width: 100%;
  object-fit: contain;
}

.channel-pic-container .channel-info-box{
  position: absolute;
  display: flex;
  width: 165px;
  background-color: rgb(245, 245, 245);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  opacity: 0;
  box-shadow: 0px 0px 8px rgba(22, 22, 22, 0.5);
  bottom: -2px;
  pointer-events: none;
  transition: opacity 0.15s;
}

.channel-pic-container:hover .channel-info-box{
  opacity: 1;
}

.channel-pic{
  width: 36px;
  border-radius: 50%;
}

.info-box-pic{
  height: 42px;
  border-radius: 24px;
}

.info-box-details{
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info-box-name{
  font-weight: 500;
  font-size: 14px;
  color: black;
  line-height: 20px;
  cursor: pointer;
}

.video-description{
  display: inline-block;
  width: 100%;
}