button{
  background-color: rgb(255, 224, 67);
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover{
  background-color: rgb(218, 192, 62);
}